{{> header}}
<div class="container">
	<div class="row space-top">
		<div class="col-md-12">
			<h1>Furniture Details</h1>
		</div>
	</div>
	<div class="row space-top">
		<div class="col-md-4">
			<div class="card text-white bg-dark">
				<div class="card-body">
					<blockquote class="card-blockquote">
						<img src="{{imageUrl}}" />
					</blockquote>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<p>Make: {{make}}</p>
			<p>Model: {{model}}</p>
			<p>Year: {{year}}</p>
			<p>Description: {{description}}</p>
			<p>Price: {{price}}</p>
			<p>Material: {{material}}</p>
		</div>
	</div>
</div>