<div class="container">
	<div class="row space-top">
		<div class="col-md-12">
			<h1>Profile Page</h1>
			<p>Listing your furniture.</p>
		</div>
	</div>
	<div class="row space-top">
		{{#each furnitureArray}}
			<div class="col-md-4">
				<div class="card text-white bg-dark">
					<div class="card-body">
						<blockquote class="card-blockquote">
							<img src="{{imageUrl}}" />
							<p>{{description}}</p>
							<footer>Someone famous in
								<cite title="{{year}}">{{year}}</cite>
							</footer>
							<div class="pull-right">
								<a
									href="#details/{{id}}"
									class="btn btn-info"
								>Details</a>
								<a
									href="#delete/{{id}}"
									class="btn btn-danger"
								>Delete Item</a>
							</div>
						</blockquote>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>