<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Delete Cube Page</title>
  <link href="./css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='./images/favicon.png' />
</head>

<body>
  <div class="container">

    <main>
      <h1>Delete Cube</h1>
      <div class="form">
        <form action='/delete/cube/{{id}}' method="POST">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" value="{{name}}" disabled="true" />
          <label for="name">Description</label>
          <textarea id="name" name="description" disabled="true" />{{description}}</textarea>
          <label for="image">ImageUrl</label>
          <input type="text" id="image" name="imgURL" value="{{imgURL}}" disabled="true" />
          <label for="difficulty">Difficulty</label>
          <select id="difficulty" name="difficulty" value="4" disabled="true" />
          {{#if one}}
            <option value="1" selected>1 - Very Easy</option>
          {{else}}
            <option value="1">1 - Very Easy</option>
          {{/if}}
          {{#if two}}
            <option value="2" selected>2 - Easy</option>
          {{else}}
           <option value="2">2 - Easy</option>
          {{/if}}
          {{#if three}}
           <option value="3" selected>3 - Medium (Standard 3x3)</option>
          {{else}}
           <option value="3">3 - Medium (Standard 3x3)</option>
          {{/if}}
          {{#if four}}
            <option value="4" selected>4 - Intermediate</option>
          {{else}}
            <option value="4">4 - Intermediate</option>
          {{/if}}
          {{#if five}}
            <option value="5" selected>5 - Expert</option>
          {{else}}
            <option value="5">5 - Expert</option>
          {{/if}}
          {{#if six}}
            <option value="6" selected>6 - Hardcore</option>
          {{else}}
            <option value="6">6 - Hardcore</option>
          {{/if}}


          </select>
          <input type="submit" value="Delete">
        </form>
      </div>
    </main>
  </div>
  <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>

</body>
<script>
  let a = {{value}}

</script>
</html>